mat-card {
  h1 {
    letter-spacing: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color:antiquewhite;
  }
}
.name {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
}
button {
  margin-left: 2rem;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
mat-nav-list {
  margin-top: 1rem;
  
  a {
    font-size: 1.2rem;
    &.active-link {
      background-color: rgba($color: #fff, $alpha: 0.2);
    }
  }
}
